.page-main {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

@media (min-width: 768px) {
  .page-main {
    padding: 2rem;
  }
}

.page-content {
  position: relative;
  z-index: 20;
  padding: 104px 24px 60px;
}

@media (max-width: 768px) {
  .page-content {
    padding-top: 85px;
  }
}

.content-scroll {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.content-scroll::-webkit-scrollbar {
  display: none;
}

.page-content--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
