.page-shell--contato .sun-wrap {
  opacity: 0.2;
  --sun-base-y: 20%;
}

@media (max-width: 768px) {
  .page-shell--contato {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 769px) {
  .page-shell--contato .page-content--chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .page-shell--contato .page-content--chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
